.carts{
    position: sticky;
    top: 1px;
}
.summery-info{
    text-align: left;
    font-size: 15px;
    margin: 0px;
    margin-left: 20px;
    margin-top: 20px;
}
.summery-info h4{
    font-size: 22px;
}

.summery-header{
    font-size: 25px;
    color: #1C2B35;
    margin-top: 25px;
    
}
.clear-cart-btn{
    width: 100%;
    font-size: 17px;
    background: #FF3030;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 25px;
    transition: .3s;
    cursor: pointer;
}

.clear-cart-btn:hover{
    background: #fe0101;
}

.review-cart-btn{
    width: 100%;
    font-size: 17px;
    background: #FF9900;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 25px;
    transition: .3s;
    cursor: pointer;
}

.review-cart-btn:hover{
    background: #ff7700;
}